<html>
    <head>
        <title>No Internet Chat</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    </head>

    <body>
        <button id="theme-toggle" class="material-symbols-outlined theme-icon">dark_mode</button>
        <button id="shutdown" class="material-symbols-outlined">mode_off_on</button>

        <div id="loading">  
            <span class="material-symbols-outlined spin" style="font-size:80px;">progress_activity</span>
        </div>

        <div id="main-frame">
            <h3 class="font" id="logs"></h3>
            <div class="logo-group">
                <a class="logo" href="https://github.com/vg2222" target="_blank" rel="noopener noreferrer">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 16 16" fill="currentColor">
                    <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"
                      d="M8 0C3.58 0 0 3.58 0 8C0 11.54 2.29 14.53 5.47 15.59C5.87 15.66 6.02 15.42 6.02 15.21C6.02 15.02 6.01 14.39 6.01 13.72C4 14.09 3.48 13.23 3.32 12.78C3.23 12.55 2.84 11.84 2.5 11.65C2.22 11.5 1.82 11.13 2.49 11.12C3.12 11.11 3.57 11.7 3.72 11.94C4.44 13.15 5.59 12.81 6.05 12.6C6.12 12.08 6.33 11.73 6.56 11.53C4.78 11.33 2.92 10.64 2.92 7.58C2.92 6.71 3.23 5.99 3.74 5.43C3.66 5.23 3.38 4.41 3.82 3.31C3.82 3.31 4.49 3.1 6.02 4.13C6.66 3.95 7.34 3.86 8.02 3.86C8.7 3.86 9.38 3.95 10.02 4.13C11.55 3.09 12.22 3.31 12.22 3.31C12.66 4.41 12.38 5.23 12.3 5.43C12.81 5.99 13.12 6.7 13.12 7.58C13.12 10.65 11.25 11.33 9.47 11.53C9.76 11.78 10.01 12.26 10.01 13.01C10.01 14.08 10 14.94 10 15.21C10 15.42 10.15 15.67 10.55 15.59C13.71 14.53 16 11.53 16 8C16 3.58 12.42 0 8 0Z" />
                  </svg>
                </a>
                
                <a class="logo" href="https://t.me/westeyeswie" target="_blank" rel="noopener noreferrer">
                  <img src="https://i.ibb.co/ZRzghJqy/Telegram-2019-Logo-svg.png" width="22" height="22" alt="Telegram">
                </a>
              </div>              
        </div>

        <div id="chats">
            <div id="global">
                <button onclick="open_global()" id="open-chat"></button>
                <h1 id="global-name">Локальный чат</h1>
                <h2 id="global-desc">Чат со всеми пользователями, обнаруженные в локальной сети</h2>
            </div>
        </div>
        
        <div id="loaded_chat">
            <div id="chat-info">
                <h4 id="chat-name">Локальный чат</h4>
                <h4 id="chat-members">1 Участник</h4>
            </div>


                
            <div id="msg-template" style="display: none;">
                <div class="message-item">
                    <div class="message-text"></div>
                    <div class="message-name"></div>
                    <div class="message-time"></div>
                </div>
            </div>

            <div id="chat-log-v2">
            </div>

            <div id="chat-footer">
                <input id="message" placeholder="Введите сообщение…" />
                <button onclick="send_message()" class="send-btn material-symbols-outlined">send</button>
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const toggle = document.getElementById('theme-toggle');
                const shutdown_btn = document.getElementById('shutdown');
        
                if (localStorage.getItem('theme') === 'dark' || (!localStorage.getItem('theme'))) {
                    document.body.classList.add('dark-theme');
                    toggle.textContent = 'light_mode';
                } else {
                    document.body.classList.remove('dark-theme');
                    toggle.textContent = 'dark_mode';
                }
        
                toggle.addEventListener('click', () => {
                    document.body.classList.toggle('dark-theme');
                    const isDark = document.body.classList.contains('dark-theme');
                    toggle.textContent = isDark ? 'light_mode' : 'dark_mode';
                    localStorage.setItem('theme', isDark ? 'dark' : 'light');
                });
        
                shutdown_btn.addEventListener('click', () => {
                    const userConfirmed = confirm("Вы точно хотите завершить программу?");
    
                    if (userConfirmed) {
                        fetch("http://127.0.0.1:43782/shutdown")
                            .then(res => {})
                            .then(data => {})
                            .catch(err => {
                                window.close()
                            });
                    }
                });
            });
        </script>        
    </body>
</html>